.menu-base{
    min-width: 128px;
    width: 272px;
    max-width: 272px;
    padding: 3px;   
    background-color: rgba(41, 40, 39, 0.8);
    box-shadow: none;
    border-radius: 2px;
    border-color: var(--colorTransparentStroke);
    border-style: solid;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    right: -8px;
    bottom: 52px;

}

.menu-list{
    row-gap: 2px;
    column-gap: 2px;
    flex-direction: column;
    max-height: var(--oneplayer-container-height);
    overflow-y: auto;
    color: rgb(243, 242, 241);
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    width: 100%;

}

.menu-item{
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
}

.menu-item-icon{
    width: 16px;
    height: 16px;
    padding: 6px;
}



.menu-item:hover{
    color: var(--colorNeutralForeground2Hover);
    background-color: var(--colorNeutralBackground1Hover);
}


.menubar-item{
    width: 32px;
    --borderRadiusNone: 0;
    --borderRadiusSmall: 2px;
    --borderRadiusMedium: 4px;
    --borderRadiusLarge: 6px;
    --borderRadiusXLarge: 8px;
    --borderRadiusCircular: 10000px;
    --fontSizeBase100: 10px;
    --fontSizeBase200: 12px;
    --fontSizeBase300: 14px;
    --fontSizeBase400: 16px;
    --fontSizeBase500: 20px;
    --fontSizeBase600: 24px;
    --fontSizeHero700: 28px;
    --fontSizeHero800: 32px;
    --fontSizeHero900: 40px;
    --fontSizeHero1000: 68px;
    --lineHeightBase100: 14px;
    --lineHeightBase200: 16px;
    --lineHeightBase300: 20px;
    --lineHeightBase400: 22px;
    --lineHeightBase500: 28px;
    --lineHeightBase600: 32px;
    --lineHeightHero700: 36px;
    --lineHeightHero800: 40px;
    --lineHeightHero900: 52px;
    --lineHeightHero1000: 92px;
    --fontFamilyBase: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --fontFamilyMonospace: Consolas, "Courier New", Courier, monospace;
    --fontFamilyNumeric: Bahnschrift, "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemibold: 600;
    --strokeWidthThin: 1px;
    --strokeWidthThick: 2px;
    --strokeWidthThicker: 3px;
    --strokeWidthThickest: 4px;
    --spacingHorizontalNone: 0;
    --spacingHorizontalXXS: 2px;
    --spacingHorizontalXS: 4px;
    --spacingHorizontalSNudge: 6px;
    --spacingHorizontalS: 8px;
    --spacingHorizontalMNudge: 10px;
    --spacingHorizontalM: 12px;
    --spacingHorizontalL: 16px;
    --spacingHorizontalXL: 20px;
    --spacingHorizontalXXL: 24px;
    --spacingHorizontalXXXL: 32px;
    --spacingVerticalNone: 0;
    --spacingVerticalXXS: 2px;
    --spacingVerticalXS: 4px;
    --spacingVerticalSNudge: 6px;
    --spacingVerticalS: 8px;
    --spacingVerticalMNudge: 10px;
    --spacingVerticalM: 12px;
    --spacingVerticalL: 16px;
    --spacingVerticalXL: 20px;
    --spacingVerticalXXL: 24px;
    --spacingVerticalXXXL: 32px;
    --durationUltraFast: 50ms;
    --durationFaster: 100ms;
    --durationFast: 150ms;
    --durationNormal: 200ms;
    --durationSlow: 300ms;
    --durationSlower: 400ms;
    --durationUltraSlow: 500ms;
    --curveAccelerateMax: cubic-bezier(1,0,1,1);
    --curveAccelerateMid: cubic-bezier(0.7,0,1,0.5);
    --curveAccelerateMin: cubic-bezier(0.8,0,1,1);
    --curveDecelerateMax: cubic-bezier(0,0,0,1);
    --curveDecelerateMid: cubic-bezier(0.1,0.9,0.2,1);
    --curveDecelerateMin: cubic-bezier(0.33,0,0.1,1);
    --curveEasyEaseMax: cubic-bezier(0.8,0,0.1,1);
    --curveEasyEase: cubic-bezier(0.33,0,0.67,1);
    --curveLinear: cubic-bezier(0,0,1,1);
    --colorNeutralForeground1: #ffffff;
    --colorNeutralForeground1Hover: #ffffff;
    --colorNeutralForeground1Pressed: #ffffff;
    --colorNeutralForeground1Selected: #ffffff;
    --colorNeutralForeground2: #d6d6d6;
    --colorNeutralForeground2Hover: #ffffff;
    --colorNeutralForeground2Pressed: #ffffff;
    --colorNeutralForeground2Selected: #ffffff;
    --colorNeutralForeground2BrandHover: #479ef5;
    --colorNeutralForeground2BrandPressed: #2886de;
    --colorNeutralForeground2BrandSelected: #479ef5;
    --colorNeutralForeground3: #adadad;
    --colorNeutralForeground3Hover: #d6d6d6;
    --colorNeutralForeground3Pressed: #d6d6d6;
    --colorNeutralForeground3Selected: #d6d6d6;
    --colorNeutralForeground3BrandHover: #479ef5;
    --colorNeutralForeground3BrandPressed: #2886de;
    --colorNeutralForeground3BrandSelected: #479ef5;
    --colorNeutralForeground4: #999999;
    --colorNeutralForegroundDisabled: #5c5c5c;
    --colorNeutralForegroundInvertedDisabled: rgba(255, 255, 255, 0.4);
    --colorBrandForegroundLink: #479ef5;
    --colorBrandForegroundLinkHover: #62abf5;
    --colorBrandForegroundLinkPressed: #2886de;
    --colorBrandForegroundLinkSelected: #479ef5;
    --colorNeutralForeground2Link: #d6d6d6;
    --colorNeutralForeground2LinkHover: #ffffff;
    --colorNeutralForeground2LinkPressed: #ffffff;
    --colorNeutralForeground2LinkSelected: #ffffff;
    --colorCompoundBrandForeground1: #479ef5;
    --colorCompoundBrandForeground1Hover: #62abf5;
    --colorCompoundBrandForeground1Pressed: #2886de;
    --colorBrandForeground1: #479ef5;
    --colorBrandForeground2: #62abf5;
    --colorNeutralForeground1Static: #242424;
    --colorNeutralForegroundInverted: #ffffff;
    --colorNeutralForegroundInvertedHover: #ffffff;
    --colorNeutralForegroundInvertedPressed: #ffffff;
    --colorNeutralForegroundInvertedSelected: #ffffff;
    --colorNeutralForegroundOnBrand: #ffffff;
    --colorNeutralForegroundInvertedLink: #ffffff;
    --colorNeutralForegroundInvertedLinkHover: #ffffff;
    --colorNeutralForegroundInvertedLinkPressed: #ffffff;
    --colorNeutralForegroundInvertedLinkSelected: #ffffff;
    --colorBrandForegroundInverted: #479ef5;
    --colorBrandForegroundInvertedHover: #62abf5;
    --colorBrandForegroundInvertedPressed: #479ef5;
    --colorBrandForegroundOnLight: #0f6cbd;
    --colorBrandForegroundOnLightHover: #115ea3;
    --colorBrandForegroundOnLightPressed: #0e4775;
    --colorBrandForegroundOnLightSelected: #0f548c;
    --colorNeutralBackground1: #292929;
    --colorNeutralBackground1Hover: #3d3d3d;
    --colorNeutralBackground1Pressed: #1f1f1f;
    --colorNeutralBackground1Selected: #383838;
    --colorNeutralBackground2: #1f1f1f;
    --colorNeutralBackground2Hover: #333333;
    --colorNeutralBackground2Pressed: #141414;
    --colorNeutralBackground2Selected: #2e2e2e;
    --colorNeutralBackground3: #141414;
    --colorNeutralBackground3Hover: #292929;
    --colorNeutralBackground3Pressed: #0a0a0a;
    --colorNeutralBackground3Selected: #242424;
    --colorNeutralBackground4: #0a0a0a;
    --colorNeutralBackground4Hover: #1f1f1f;
    --colorNeutralBackground4Pressed: #000000;
    --colorNeutralBackground4Selected: #1a1a1a;
    --colorNeutralBackground5: #000000;
    --colorNeutralBackground5Hover: #141414;
    --colorNeutralBackground5Pressed: #050505;
    --colorNeutralBackground5Selected: #0f0f0f;
    --colorNeutralBackground6: #333333;
    --colorNeutralBackgroundInverted: #3d3d3d;
    --colorSubtleBackground: transparent;
    --colorSubtleBackgroundHover: #383838;
    --colorSubtleBackgroundPressed: #2e2e2e;
    --colorSubtleBackgroundSelected: #333333;
    --colorSubtleBackgroundLightAlphaHover: rgba(36, 36, 36, 0.8);
    --colorSubtleBackgroundLightAlphaPressed: rgba(36, 36, 36, 0.5);
    --colorSubtleBackgroundLightAlphaSelected: transparent;
    --colorSubtleBackgroundInverted: transparent;
    --colorSubtleBackgroundInvertedHover: rgba(0, 0, 0, 0.1);
    --colorSubtleBackgroundInvertedPressed: rgba(0, 0, 0, 0.3);
    --colorSubtleBackgroundInvertedSelected: rgba(0, 0, 0, 0.2);
    --colorTransparentBackground: transparent;
    --colorTransparentBackgroundHover: transparent;
    --colorTransparentBackgroundPressed: transparent;
    --colorTransparentBackgroundSelected: transparent;
    --colorNeutralBackgroundDisabled: #141414;
    --colorNeutralBackgroundInvertedDisabled: rgba(255, 255, 255, 0.1);
    --colorNeutralStencil1: #575757;
    --colorNeutralStencil2: #333333;
    --colorBackgroundOverlay: rgba(0, 0, 0, 0.5);
    --colorScrollbarOverlay: rgba(255, 255, 255, 0.6);
    --colorBrandBackground: #115ea3;
    --colorBrandBackgroundHover: #0f6cbd;
    --colorBrandBackgroundPressed: #0c3b5e;
    --colorBrandBackgroundSelected: #0f548c;
    --colorCompoundBrandBackground: #479ef5;
    --colorCompoundBrandBackgroundHover: #62abf5;
    --colorCompoundBrandBackgroundPressed: #2886de;
    --colorBrandBackgroundStatic: #0f6cbd;
    --colorBrandBackground2: #0c3b5e;
    --colorBrandBackgroundInverted: #ffffff;
    --colorBrandBackgroundInvertedHover: #ebf3fc;
    --colorBrandBackgroundInvertedPressed: #b4d6fa;
    --colorBrandBackgroundInvertedSelected: #cfe4fa;
    --colorNeutralStrokeAccessible: #adadad;
    --colorNeutralStrokeAccessibleHover: #bdbdbd;
    --colorNeutralStrokeAccessiblePressed: #b3b3b3;
    --colorNeutralStrokeAccessibleSelected: #479ef5;
    --colorNeutralStroke1: #666666;
    --colorNeutralStroke1Hover: #757575;
    --colorNeutralStroke1Pressed: #6b6b6b;
    --colorNeutralStroke1Selected: #707070;
    --colorNeutralStroke2: #525252;
    --colorNeutralStroke3: #3d3d3d;
    --colorNeutralStrokeOnBrand: #292929;
    --colorNeutralStrokeOnBrand2: #ffffff;
    --colorNeutralStrokeOnBrand2Hover: #ffffff;
    --colorNeutralStrokeOnBrand2Pressed: #ffffff;
    --colorNeutralStrokeOnBrand2Selected: #ffffff;
    --colorBrandStroke1: #479ef5;
    --colorBrandStroke2: #0e4775;
    --colorCompoundBrandStroke: #2886de;
    --colorCompoundBrandStrokeHover: #479ef5;
    --colorCompoundBrandStrokePressed: #0f6cbd;
    --colorNeutralStrokeDisabled: #424242;
    --colorNeutralStrokeInvertedDisabled: rgba(255, 255, 255, 0.4);
    --colorTransparentStroke: transparent;
    --colorTransparentStrokeInteractive: transparent;
    --colorTransparentStrokeDisabled: transparent;
    --colorStrokeFocus1: #000000;
    --colorStrokeFocus2: #ffffff;
    --colorNeutralShadowAmbient: rgba(0,0,0,0.24);
    --colorNeutralShadowKey: rgba(0,0,0,0.28);
    --colorNeutralShadowAmbientLighter: rgba(0,0,0,0.12);
    --colorNeutralShadowKeyLighter: rgba(0,0,0,0.14);
    --colorNeutralShadowAmbientDarker: rgba(0,0,0,0.4);
    --colorNeutralShadowKeyDarker: rgba(0,0,0,0.48);
    --colorBrandShadowAmbient: rgba(0,0,0,0.3);
    --colorBrandShadowKey: rgba(0,0,0,0.25);
    --colorPaletteDarkRedBackground1: #230308;
    --colorPaletteDarkRedBackground2: #420610;
    --colorPaletteDarkRedBackground3: #750b1c;
    --colorPaletteDarkRedForeground1: #ac4f5e;
    --colorPaletteDarkRedForeground2: #d69ca5;
    --colorPaletteDarkRedForeground3: #962f3f;
    --colorPaletteDarkRedBorderActive: #ac4f5e;
    --colorPaletteDarkRedBorder1: #750b1c;
    --colorPaletteDarkRedBorder2: #962f3f;
    --colorPaletteBurgundyBackground1: #310b0d;
    --colorPaletteBurgundyBackground2: #5c1519;
    --colorPaletteBurgundyBackground3: #a4262c;
    --colorPaletteBurgundyForeground1: #c86c70;
    --colorPaletteBurgundyForeground2: #e4afb2;
    --colorPaletteBurgundyForeground3: #ba4d52;
    --colorPaletteBurgundyBorderActive: #c86c70;
    --colorPaletteBurgundyBorder1: #a4262c;
    --colorPaletteBurgundyBorder2: #ba4d52;
    --colorPaletteCranberryBackground1: #3b0509;
    --colorPaletteCranberryBackground2: #6e0811;
    --colorPaletteCranberryBackground3: #c50f1f;
    --colorPaletteCranberryForeground1: #dc626d;
    --colorPaletteCranberryForeground2: #eeacb2;
    --colorPaletteCranberryForeground3: #d33f4c;
    --colorPaletteCranberryBorderActive: #dc626d;
    --colorPaletteCranberryBorder1: #c50f1f;
    --colorPaletteCranberryBorder2: #d33f4c;
    --colorPaletteRedBackground1: #3f1011;
    --colorPaletteRedBackground2: #751d1f;
    --colorPaletteRedBackground3: #d13438;
    --colorPaletteRedForeground1: #e37d80;
    --colorPaletteRedForeground2: #f1bbbc;
    --colorPaletteRedForeground3: #dc5e62;
    --colorPaletteRedBorderActive: #e37d80;
    --colorPaletteRedBorder1: #d13438;
    --colorPaletteRedBorder2: #dc5e62;
    --colorPaletteDarkOrangeBackground1: #411200;
    --colorPaletteDarkOrangeBackground2: #7a2101;
    --colorPaletteDarkOrangeBackground3: #da3b01;
    --colorPaletteDarkOrangeForeground1: #e9835e;
    --colorPaletteDarkOrangeForeground2: #f4bfab;
    --colorPaletteDarkOrangeForeground3: #e36537;
    --colorPaletteDarkOrangeBorderActive: #e9835e;
    --colorPaletteDarkOrangeBorder1: #da3b01;
    --colorPaletteDarkOrangeBorder2: #e36537;
    --colorPaletteBronzeBackground1: #321303;
    --colorPaletteBronzeBackground2: #5e2405;
    --colorPaletteBronzeBackground3: #a74109;
    --colorPaletteBronzeForeground1: #ca8057;
    --colorPaletteBronzeForeground2: #e5bba4;
    --colorPaletteBronzeForeground3: #bc6535;
    --colorPaletteBronzeBorderActive: #ca8057;
    --colorPaletteBronzeBorder1: #a74109;
    --colorPaletteBronzeBorder2: #bc6535;
    --colorPalettePumpkinBackground1: #3d1805;
    --colorPalettePumpkinBackground2: #712d09;
    --colorPalettePumpkinBackground3: #ca5010;
    --colorPalettePumpkinForeground1: #df8e64;
    --colorPalettePumpkinForeground2: #efc4ad;
    --colorPalettePumpkinForeground3: #d77440;
    --colorPalettePumpkinBorderActive: #df8e64;
    --colorPalettePumpkinBorder1: #ca5010;
    --colorPalettePumpkinBorder2: #d77440;
    --colorPaletteOrangeBackground1: #4a1e04;
    --colorPaletteOrangeBackground2: #8a3707;
    --colorPaletteOrangeBackground3: #f7630c;
    --colorPaletteOrangeForeground1: #faa06b;
    --colorPaletteOrangeForeground2: #fdcfb4;
    --colorPaletteOrangeForeground3: #f98845;
    --colorPaletteOrangeBorderActive: #faa06b;
    --colorPaletteOrangeBorder1: #f7630c;
    --colorPaletteOrangeBorder2: #f98845;
    --colorPalettePeachBackground1: #4d2a00;
    --colorPalettePeachBackground2: #8f4e00;
    --colorPalettePeachBackground3: #ff8c00;
    --colorPalettePeachForeground1: #ffba66;
    --colorPalettePeachForeground2: #ffddb3;
    --colorPalettePeachForeground3: #ffa83d;
    --colorPalettePeachBorderActive: #ffba66;
    --colorPalettePeachBorder1: #ff8c00;
    --colorPalettePeachBorder2: #ffa83d;
    --colorPaletteMarigoldBackground1: #463100;
    --colorPaletteMarigoldBackground2: #835b00;
    --colorPaletteMarigoldBackground3: #eaa300;
    --colorPaletteMarigoldForeground1: #f2c661;
    --colorPaletteMarigoldForeground2: #f9e2ae;
    --colorPaletteMarigoldForeground3: #efb839;
    --colorPaletteMarigoldBorderActive: #f2c661;
    --colorPaletteMarigoldBorder1: #eaa300;
    --colorPaletteMarigoldBorder2: #efb839;
    --colorPaletteYellowBackground1: #4c4400;
    --colorPaletteYellowBackground2: #817400;
    --colorPaletteYellowBackground3: #fde300;
    --colorPaletteYellowForeground1: #feee66;
    --colorPaletteYellowForeground2: #fef7b2;
    --colorPaletteYellowForeground3: #fdea3d;
    --colorPaletteYellowBorderActive: #feee66;
    --colorPaletteYellowBorder1: #fde300;
    --colorPaletteYellowBorder2: #fdea3d;
    --colorPaletteGoldBackground1: #3a2f00;
    --colorPaletteGoldBackground2: #6c5700;
    --colorPaletteGoldBackground3: #c19c00;
    --colorPaletteGoldForeground1: #dac157;
    --colorPaletteGoldForeground2: #ecdfa5;
    --colorPaletteGoldForeground3: #d0b232;
    --colorPaletteGoldBorderActive: #dac157;
    --colorPaletteGoldBorder1: #c19c00;
    --colorPaletteGoldBorder2: #d0b232;
    --colorPaletteBrassBackground1: #2e2103;
    --colorPaletteBrassBackground2: #553e06;
    --colorPaletteBrassBackground3: #986f0b;
    --colorPaletteBrassForeground1: #c1a256;
    --colorPaletteBrassForeground2: #e0cea2;
    --colorPaletteBrassForeground3: #b18c34;
    --colorPaletteBrassBorderActive: #c1a256;
    --colorPaletteBrassBorder1: #986f0b;
    --colorPaletteBrassBorder2: #b18c34;
    --colorPaletteBrownBackground1: #2b1a0e;
    --colorPaletteBrownBackground2: #50301a;
    --colorPaletteBrownBackground3: #8e562e;
    --colorPaletteBrownForeground1: #bb8f6f;
    --colorPaletteBrownForeground2: #ddc3b0;
    --colorPaletteBrownForeground3: #a97652;
    --colorPaletteBrownBorderActive: #bb8f6f;
    --colorPaletteBrownBorder1: #8e562e;
    --colorPaletteBrownBorder2: #a97652;
    --colorPaletteDarkBrownBackground1: #170c08;
    --colorPaletteDarkBrownBackground2: #2b1710;
    --colorPaletteDarkBrownBackground3: #4d291c;
    --colorPaletteDarkBrownForeground1: #946b5c;
    --colorPaletteDarkBrownForeground2: #caada3;
    --colorPaletteDarkBrownForeground3: #784d3e;
    --colorPaletteDarkBrownBorderActive: #946b5c;
    --colorPaletteDarkBrownBorder1: #4d291c;
    --colorPaletteDarkBrownBorder2: #784d3e;
    --colorPaletteLimeBackground1: #23330b;
    --colorPaletteLimeBackground2: #405f14;
    --colorPaletteLimeBackground3: #73aa24;
    --colorPaletteLimeForeground1: #a4cc6c;
    --colorPaletteLimeForeground2: #cfe5af;
    --colorPaletteLimeForeground3: #90be4c;
    --colorPaletteLimeBorderActive: #a4cc6c;
    --colorPaletteLimeBorder1: #73aa24;
    --colorPaletteLimeBorder2: #90be4c;
    --colorPaletteForestBackground1: #162702;
    --colorPaletteForestBackground2: #294903;
    --colorPaletteForestBackground3: #498205;
    --colorPaletteForestForeground1: #85b44c;
    --colorPaletteForestForeground2: #bdd99b;
    --colorPaletteForestForeground3: #6ba02b;
    --colorPaletteForestBorderActive: #85b44c;
    --colorPaletteForestBorder1: #498205;
    --colorPaletteForestBorder2: #6ba02b;
    --colorPaletteSeafoamBackground1: #003d20;
    --colorPaletteSeafoamBackground2: #00723b;
    --colorPaletteSeafoamBackground3: #00cc6a;
    --colorPaletteSeafoamForeground1: #5ae0a0;
    --colorPaletteSeafoamForeground2: #a8f0cd;
    --colorPaletteSeafoamForeground3: #34d889;
    --colorPaletteSeafoamBorderActive: #5ae0a0;
    --colorPaletteSeafoamBorder1: #00cc6a;
    --colorPaletteSeafoamBorder2: #34d889;
    --colorPaletteLightGreenBackground1: #063004;
    --colorPaletteLightGreenBackground2: #0b5a08;
    --colorPaletteLightGreenBackground3: #13a10e;
    --colorPaletteLightGreenForeground1: #5ec75a;
    --colorPaletteLightGreenForeground2: #a7e3a5;
    --colorPaletteLightGreenForeground3: #3db838;
    --colorPaletteLightGreenBorderActive: #5ec75a;
    --colorPaletteLightGreenBorder1: #13a10e;
    --colorPaletteLightGreenBorder2: #3db838;
    --colorPaletteGreenBackground1: #052505;
    --colorPaletteGreenBackground2: #094509;
    --colorPaletteGreenBackground3: #107c10;
    --colorPaletteGreenForeground1: #54b054;
    --colorPaletteGreenForeground2: #9fd89f;
    --colorPaletteGreenForeground3: #359b35;
    --colorPaletteGreenBorderActive: #54b054;
    --colorPaletteGreenBorder1: #107c10;
    --colorPaletteGreenBorder2: #359b35;
    --colorPaletteDarkGreenBackground1: #032003;
    --colorPaletteDarkGreenBackground2: #063b06;
    --colorPaletteDarkGreenBackground3: #0b6a0b;
    --colorPaletteDarkGreenForeground1: #4da64d;
    --colorPaletteDarkGreenForeground2: #9ad29a;
    --colorPaletteDarkGreenForeground3: #2d8e2d;
    --colorPaletteDarkGreenBorderActive: #4da64d;
    --colorPaletteDarkGreenBorder1: #0b6a0b;
    --colorPaletteDarkGreenBorder2: #2d8e2d;
    --colorPaletteLightTealBackground1: #00373a;
    --colorPaletteLightTealBackground2: #00666d;
    --colorPaletteLightTealBackground3: #00b7c3;
    --colorPaletteLightTealForeground1: #58d3db;
    --colorPaletteLightTealForeground2: #a6e9ed;
    --colorPaletteLightTealForeground3: #32c8d1;
    --colorPaletteLightTealBorderActive: #58d3db;
    --colorPaletteLightTealBorder1: #00b7c3;
    --colorPaletteLightTealBorder2: #32c8d1;
    --colorPaletteTealBackground1: #012728;
    --colorPaletteTealBackground2: #02494c;
    --colorPaletteTealBackground3: #038387;
    --colorPaletteTealForeground1: #4cb4b7;
    --colorPaletteTealForeground2: #9bd9db;
    --colorPaletteTealForeground3: #2aa0a4;
    --colorPaletteTealBorderActive: #4cb4b7;
    --colorPaletteTealBorder1: #038387;
    --colorPaletteTealBorder2: #2aa0a4;
    --colorPaletteDarkTealBackground1: #001f1f;
    --colorPaletteDarkTealBackground2: #003939;
    --colorPaletteDarkTealBackground3: #006666;
    --colorPaletteDarkTealForeground1: #41a3a3;
    --colorPaletteDarkTealForeground2: #92d1d1;
    --colorPaletteDarkTealForeground3: #218b8b;
    --colorPaletteDarkTealBorderActive: #41a3a3;
    --colorPaletteDarkTealBorder1: #006666;
    --colorPaletteDarkTealBorder2: #218b8b;
    --colorPaletteCyanBackground1: #002e38;
    --colorPaletteCyanBackground2: #005669;
    --colorPaletteCyanBackground3: #0099bc;
    --colorPaletteCyanForeground1: #56bfd7;
    --colorPaletteCyanForeground2: #a4deeb;
    --colorPaletteCyanForeground3: #31afcc;
    --colorPaletteCyanBorderActive: #56bfd7;
    --colorPaletteCyanBorder1: #0099bc;
    --colorPaletteCyanBorder2: #31afcc;
    --colorPaletteSteelBackground1: #001b22;
    --colorPaletteSteelBackground2: #00333f;
    --colorPaletteSteelBackground3: #005b70;
    --colorPaletteSteelForeground1: #4496a9;
    --colorPaletteSteelForeground2: #94c8d4;
    --colorPaletteSteelForeground3: #237d92;
    --colorPaletteSteelBorderActive: #4496a9;
    --colorPaletteSteelBorder1: #005b70;
    --colorPaletteSteelBorder2: #237d92;
    --colorPaletteLightBlueBackground1: #112d42;
    --colorPaletteLightBlueBackground2: #20547c;
    --colorPaletteLightBlueBackground3: #3a96dd;
    --colorPaletteLightBlueForeground1: #83bdeb;
    --colorPaletteLightBlueForeground2: #bfddf5;
    --colorPaletteLightBlueForeground3: #65ade5;
    --colorPaletteLightBlueBorderActive: #83bdeb;
    --colorPaletteLightBlueBorder1: #3a96dd;
    --colorPaletteLightBlueBorder2: #65ade5;
    --colorPaletteBlueBackground1: #002440;
    --colorPaletteBlueBackground2: #004377;
    --colorPaletteBlueBackground3: #0078d4;
    --colorPaletteBlueForeground1: #5caae5;
    --colorPaletteBlueForeground2: #a9d3f2;
    --colorPaletteBlueForeground3: #3595de;
    --colorPaletteBlueBorderActive: #5caae5;
    --colorPaletteBlueBorder1: #0078d4;
    --colorPaletteBlueBorder2: #3595de;
    --colorPaletteRoyalBlueBackground1: #00172a;
    --colorPaletteRoyalBlueBackground2: #002c4e;
    --colorPaletteRoyalBlueBackground3: #004e8c;
    --colorPaletteRoyalBlueForeground1: #4a89ba;
    --colorPaletteRoyalBlueForeground2: #9abfdc;
    --colorPaletteRoyalBlueForeground3: #286fa8;
    --colorPaletteRoyalBlueBorderActive: #4a89ba;
    --colorPaletteRoyalBlueBorder1: #004e8c;
    --colorPaletteRoyalBlueBorder2: #286fa8;
    --colorPaletteDarkBlueBackground1: #00111f;
    --colorPaletteDarkBlueBackground2: #002039;
    --colorPaletteDarkBlueBackground3: #003966;
    --colorPaletteDarkBlueForeground1: #4178a3;
    --colorPaletteDarkBlueForeground2: #92b5d1;
    --colorPaletteDarkBlueForeground3: #215c8b;
    --colorPaletteDarkBlueBorderActive: #4178a3;
    --colorPaletteDarkBlueBorder1: #003966;
    --colorPaletteDarkBlueBorder2: #215c8b;
    --colorPaletteCornflowerBackground1: #182047;
    --colorPaletteCornflowerBackground2: #2c3c85;
    --colorPaletteCornflowerBackground3: #4f6bed;
    --colorPaletteCornflowerForeground1: #93a4f4;
    --colorPaletteCornflowerForeground2: #c8d1fa;
    --colorPaletteCornflowerForeground3: #778df1;
    --colorPaletteCornflowerBorderActive: #93a4f4;
    --colorPaletteCornflowerBorder1: #4f6bed;
    --colorPaletteCornflowerBorder2: #778df1;
    --colorPaletteNavyBackground1: #000c36;
    --colorPaletteNavyBackground2: #001665;
    --colorPaletteNavyBackground3: #0027b4;
    --colorPaletteNavyForeground1: #546fd2;
    --colorPaletteNavyForeground2: #a3b2e8;
    --colorPaletteNavyForeground3: #3050c6;
    --colorPaletteNavyBorderActive: #546fd2;
    --colorPaletteNavyBorder1: #0027b4;
    --colorPaletteNavyBorder2: #3050c6;
    --colorPaletteLavenderBackground1: #221d46;
    --colorPaletteLavenderBackground2: #3f3682;
    --colorPaletteLavenderBackground3: #7160e8;
    --colorPaletteLavenderForeground1: #a79cf1;
    --colorPaletteLavenderForeground2: #d2ccf8;
    --colorPaletteLavenderForeground3: #9184ee;
    --colorPaletteLavenderBorderActive: #a79cf1;
    --colorPaletteLavenderBorder1: #7160e8;
    --colorPaletteLavenderBorder2: #9184ee;
    --colorPalettePurpleBackground1: #1c0e2b;
    --colorPalettePurpleBackground2: #341a51;
    --colorPalettePurpleBackground3: #5c2e91;
    --colorPalettePurpleForeground1: #9470bd;
    --colorPalettePurpleForeground2: #c6b1de;
    --colorPalettePurpleForeground3: #7c52ab;
    --colorPalettePurpleBorderActive: #9470bd;
    --colorPalettePurpleBorder1: #5c2e91;
    --colorPalettePurpleBorder2: #7c52ab;
    --colorPaletteDarkPurpleBackground1: #130820;
    --colorPaletteDarkPurpleBackground2: #240f3c;
    --colorPaletteDarkPurpleBackground3: #401b6c;
    --colorPaletteDarkPurpleForeground1: #7e5ca7;
    --colorPaletteDarkPurpleForeground2: #b9a3d3;
    --colorPaletteDarkPurpleForeground3: #633e8f;
    --colorPaletteDarkPurpleBorderActive: #7e5ca7;
    --colorPaletteDarkPurpleBorder1: #401b6c;
    --colorPaletteDarkPurpleBorder2: #633e8f;
    --colorPaletteOrchidBackground1: #281e37;
    --colorPaletteOrchidBackground2: #4c3867;
    --colorPaletteOrchidBackground3: #8764b8;
    --colorPaletteOrchidForeground1: #b29ad4;
    --colorPaletteOrchidForeground2: #d7caea;
    --colorPaletteOrchidForeground3: #a083c9;
    --colorPaletteOrchidBorderActive: #b29ad4;
    --colorPaletteOrchidBorder1: #8764b8;
    --colorPaletteOrchidBorder2: #a083c9;
    --colorPaletteGrapeBackground1: #29072e;
    --colorPaletteGrapeBackground2: #4c0d55;
    --colorPaletteGrapeBackground3: #881798;
    --colorPaletteGrapeForeground1: #b55fc1;
    --colorPaletteGrapeForeground2: #d9a7e0;
    --colorPaletteGrapeForeground3: #a33fb1;
    --colorPaletteGrapeBorderActive: #b55fc1;
    --colorPaletteGrapeBorder1: #881798;
    --colorPaletteGrapeBorder2: #a33fb1;
    --colorPaletteBerryBackground1: #3a1136;
    --colorPaletteBerryBackground2: #6d2064;
    --colorPaletteBerryBackground3: #c239b3;
    --colorPaletteBerryForeground1: #da7ed0;
    --colorPaletteBerryForeground2: #edbbe7;
    --colorPaletteBerryForeground3: #d161c4;
    --colorPaletteBerryBorderActive: #da7ed0;
    --colorPaletteBerryBorder1: #c239b3;
    --colorPaletteBerryBorder2: #d161c4;
    --colorPaletteLilacBackground1: #35153a;
    --colorPaletteLilacBackground2: #63276d;
    --colorPaletteLilacBackground3: #b146c2;
    --colorPaletteLilacForeground1: #cf87da;
    --colorPaletteLilacForeground2: #e6bfed;
    --colorPaletteLilacForeground3: #c36bd1;
    --colorPaletteLilacBorderActive: #cf87da;
    --colorPaletteLilacBorder1: #b146c2;
    --colorPaletteLilacBorder2: #c36bd1;
    --colorPalettePinkBackground1: #441232;
    --colorPalettePinkBackground2: #80215d;
    --colorPalettePinkBackground3: #e43ba6;
    --colorPalettePinkForeground1: #ef85c8;
    --colorPalettePinkForeground2: #f7c0e3;
    --colorPalettePinkForeground3: #ea66ba;
    --colorPalettePinkBorderActive: #ef85c8;
    --colorPalettePinkBorder1: #e43ba6;
    --colorPalettePinkBorder2: #ea66ba;
    --colorPaletteHotPinkBackground1: #44002a;
    --colorPaletteHotPinkBackground2: #7f004e;
    --colorPaletteHotPinkBackground3: #e3008c;
    --colorPaletteHotPinkForeground1: #ee5fb7;
    --colorPaletteHotPinkForeground2: #f7adda;
    --colorPaletteHotPinkForeground3: #ea38a6;
    --colorPaletteHotPinkBorderActive: #ee5fb7;
    --colorPaletteHotPinkBorder1: #e3008c;
    --colorPaletteHotPinkBorder2: #ea38a6;
    --colorPaletteMagentaBackground1: #390024;
    --colorPaletteMagentaBackground2: #6b0043;
    --colorPaletteMagentaBackground3: #bf0077;
    --colorPaletteMagentaForeground1: #d957a8;
    --colorPaletteMagentaForeground2: #eca5d1;
    --colorPaletteMagentaForeground3: #ce3293;
    --colorPaletteMagentaBorderActive: #d957a8;
    --colorPaletteMagentaBorder1: #bf0077;
    --colorPaletteMagentaBorder2: #ce3293;
    --colorPalettePlumBackground1: #240017;
    --colorPalettePlumBackground2: #43002b;
    --colorPalettePlumBackground3: #77004d;
    --colorPalettePlumForeground1: #ad4589;
    --colorPalettePlumForeground2: #d696c0;
    --colorPalettePlumForeground3: #98246f;
    --colorPalettePlumBorderActive: #ad4589;
    --colorPalettePlumBorder1: #77004d;
    --colorPalettePlumBorder2: #98246f;
    --colorPaletteBeigeBackground1: #252323;
    --colorPaletteBeigeBackground2: #444241;
    --colorPaletteBeigeBackground3: #7a7574;
    --colorPaletteBeigeForeground1: #afabaa;
    --colorPaletteBeigeForeground2: #d7d4d4;
    --colorPaletteBeigeForeground3: #9a9594;
    --colorPaletteBeigeBorderActive: #afabaa;
    --colorPaletteBeigeBorder1: #7a7574;
    --colorPaletteBeigeBorder2: #9a9594;
    --colorPaletteMinkBackground1: #1c1b1a;
    --colorPaletteMinkBackground2: #343231;
    --colorPaletteMinkBackground3: #5d5a58;
    --colorPaletteMinkForeground1: #9e9b99;
    --colorPaletteMinkForeground2: #cecccb;
    --colorPaletteMinkForeground3: #84817e;
    --colorPaletteMinkBorderActive: #9e9b99;
    --colorPaletteMinkBorder1: #5d5a58;
    --colorPaletteMinkBorder2: #84817e;
    --colorPaletteSilverBackground1: #282d2e;
    --colorPaletteSilverBackground2: #4a5356;
    --colorPaletteSilverBackground3: #859599;
    --colorPaletteSilverForeground1: #b3bfc2;
    --colorPaletteSilverForeground2: #d8dfe0;
    --colorPaletteSilverForeground3: #a0aeb1;
    --colorPaletteSilverBorderActive: #b3bfc2;
    --colorPaletteSilverBorder1: #859599;
    --colorPaletteSilverBorder2: #a0aeb1;
    --colorPalettePlatinumBackground1: #1f2426;
    --colorPalettePlatinumBackground2: #3b4447;
    --colorPalettePlatinumBackground3: #69797e;
    --colorPalettePlatinumForeground1: #a0adb2;
    --colorPalettePlatinumForeground2: #cdd6d8;
    --colorPalettePlatinumForeground3: #89989d;
    --colorPalettePlatinumBorderActive: #a0adb2;
    --colorPalettePlatinumBorder1: #69797e;
    --colorPalettePlatinumBorder2: #89989d;
    --colorPaletteAnchorBackground1: #111315;
    --colorPaletteAnchorBackground2: #202427;
    --colorPaletteAnchorBackground3: #394146;
    --colorPaletteAnchorForeground1: #808a90;
    --colorPaletteAnchorForeground2: #bcc3c7;
    --colorPaletteAnchorForeground3: #626c72;
    --colorPaletteAnchorBorderActive: #808a90;
    --colorPaletteAnchorBorder1: #394146;
    --colorPaletteAnchorBorder2: #626c72;
    --colorPaletteCharcoalBackground1: #111111;
    --colorPaletteCharcoalBackground2: #202020;
    --colorPaletteCharcoalBackground3: #393939;
    --colorPaletteCharcoalForeground1: #888888;
    --colorPaletteCharcoalForeground2: #c4c4c4;
    --colorPaletteCharcoalForeground3: #686868;
    --colorPaletteCharcoalBorderActive: #888888;
    --colorPaletteCharcoalBorder1: #393939;
    --colorPaletteCharcoalBorder2: #686868;
    --shadow2: 0 0 2px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.28);
    --shadow4: 0 0 2px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.28);
    --shadow8: 0 0 2px rgba(0,0,0,0.24), 0 4px 8px rgba(0,0,0,0.28);
    --shadow16: 0 0 2px rgba(0,0,0,0.24), 0 8px 16px rgba(0,0,0,0.28);
    --shadow28: 0 0 8px rgba(0,0,0,0.24), 0 14px 28px rgba(0,0,0,0.28);
    --shadow64: 0 0 8px rgba(0,0,0,0.24), 0 32px 64px rgba(0,0,0,0.28);
    --shadow2Brand: 0 0 2px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.25);
    --shadow4Brand: 0 0 2px rgba(0,0,0,0.3), 0 2px 4px rgba(0,0,0,0.25);
    --shadow8Brand: 0 0 2px rgba(0,0,0,0.3), 0 4px 8px rgba(0,0,0,0.25);
    --shadow16Brand: 0 0 2px rgba(0,0,0,0.3), 0 8px 16px rgba(0,0,0,0.25);
    --shadow28Brand: 0 0 8px rgba(0,0,0,0.3), 0 14px 28px rgba(0,0,0,0.25);
    --shadow64Brand: 0 0 8px rgba(0,0,0,0.3), 0 32px 64px rgba(0,0,0,0.25);
    line-height: var(--lineHeightBase300);  
    font-weight: var(--fontWeightRegular);  
    font-size: var(--fontSizeBase300);
    font-family: var(--fontFamilyBase);
    color: var(--colorNeutralForeground1);
}

.menubar-item:focus-visible{
    outline: -webkit-focus-ring-color auto 1px;
}

.menubar-item-button{
    width: 32px;
    min-width: 32px;
    font-weight: var(--fontWeightSemibold);
    height: 32px;
    border-width: var(--strokeWidthThin);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    vertical-align: middle;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.menubar-item-button:hover{
    background-color: rgba(59, 58, 57, 0.8);
    color: white;
    border-radius: 2px;

}

.menubar-item-button:focus{
    outline: 1px solid transparent;
}

#speed-icon{
    width: 22px;
    height: 22px;
    filter: invert(1);
}